/* Start Main Rules */

body {
  background-color: white;
  height: 4000px;
}

.container {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* End Main Rules */

/* Start Header */

.header .slider {
    background-image: url('../images/Slider.jpg');
    background-size: cover;   /* CSS 3*/
    height: 750px;
  }

.header .slider .intro {
  padding-top: 250px;
  text-align: center;
  color: #FFF;
}

.header .slider .intro h2 {
  font-size: 50px;
  margin: 0 auto;
  width: 600px;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  padding: 5px 0;
}

.header .slider .intro button {
  background: none;
  margin-top: 30px;
  border: 2px solid #FFF;
  font-size: 22px;
  color: #FFF;
  padding: 10px 20px;
  text-transform: uppercase;
}

.header .navbar {
  background-color: #252F31;
  color: white;
  overflow: hidden;
}

.header .navbar h2 {
  float: left;
}
.header .navbar h2 span {
  color: #35CA79;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}
.header .navbar ul li a {
  color: #FFF;
  text-decoration: none;
}

.header .navbar ul li.active a ,
.header .navbar ul li a:hover {
  color: #30B576;
}
/* End Header */


/* Start feautures */

.features {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 60px;
}

.features .feat {
  float: left;
  width: 33.333333%;
  height: 150px;
}

.features .feat h2 {
  color: #444;
}

.features .feat p {
  line-height: 1.7;
  color: #888;
}

/* End  feautures */

/* Start Hobbies */

.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
}

.about-me .image {
  width: 40%;
  float: left;
}

.about-me .image img {
  width: 100%;
  height: 518px;
}

.about-me .infos {
  width: 60%;
  float: left;
}

.about-me .infos p {
  line-height: 1.6;
  color: #666;
}

.about-me .infos h2 {
  margin: 30px 0 20px 40px;
  color: #444;
}

.about-me .infos > p {
  margin: 0 0 20px 40px;
}

.about-me .infos > p:last-of-type {
  margin-top: 15px;
}

.about-me .infos .hobbies {
  margin: 20px;
  overflow: hidden;
  margin-left: 40px;
}

.about-me .infos .hobbies .content {
  float:left;
  width: 50%;
  min-height: 100px
}

.about-me .infos .hobbies .content h3 {
  color: #444;
}

.about-me .infos .hobbies .content .icon {
  float: left;
  width: 12%;
  margin-top: 10px;
  margin-right: 4%
}

.about-me .infos .hobbies .content .icon img {
  max-width: 100%;
}

.about-me .infos .hobbies .content .text {
  float: left;
  width: 84%;
}

/* End Hobbies */


/* Start My Skills */

.my-skills {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  padding-bottom: 50px;
}

.my-skills .skills, .my-skills .progress {
  width: 50%;
  float: left;
}

.my-skills .skills h2 {
  margin: 30px 0 20px 40px;
  color: #444;
}

.my-skills .skills p {
  margin: 0 0 20px 40px;
  line-height: 1.6;
  color: #666;
}

.my-skills .skills p:last-of-type {
  margin-top: 15px;
}

.my-skills .skills button {
  margin-top: 20px;
  margin-left: 40px;
}

.my-skills .progress .technique {
  margin-left: 40px;
}

.my-skills .progress .technique h3 {
  color: #444;
  text-transform: uppercase;
}

.my-skills .progress .technique div {
  background: #F2f2f2;
  height: 25px;
}

.my-skills .progress .technique div span {
  height: 25px;
  display: block;
  line-height: 25px;
  background-color: #2dcc70;
  text-align: right;
  font-weight: bold;
  color: #FFF;
}

/* End My Skills */

/* Start Resume */

.resume {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

.resume h2 {
  color: #444;
  font-weight: bold;
}

.resume p {
  line-height: 1.7;
  color: #666;
  padding: 0 40px;
}

.resume button {
  margin-top: 15px;
}

/* End Resume */

/* Start My Education */

.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.my-education hr {
  margin: 20px 0;
  height: 1px;
  background-color: #888;
}

.my-education .main {
  width: 50%;
  margin-right: 5px;
  float: left;
}

.my-education .main h2 {
  margin: 30px 0 20px 40px;
  color: #444;
}

.my-education .main p {
  margin: 0 0 20px 40px;
  line-height: 1.6;
  color: #666;
}

.my-education .main p:last-of-type {
  margin-top: 15px;
}

.my-education .main, .my-education .experience {
  width: 50%;
  float: left;
}

.my-education .exp {
  width: 45%;
  float: right;
}

.my-education .exp h3 {
  margin-top: 80px;
  margin-bottom: 10px;
  color: #555;
}

.my-education .exp span {
  display: block;
  margin-bottom: 10px
}

.my-education .exp span:first-of-type {
  color: #999;
}
.my-education .exp span:last-of-type {
  background: #2dcc70;
  display: inline-block;
  color: #FFF;
  padding: 4px 10px;
}

.my-education .exp p {
  line-height: 1.7;
  color: #777;
}

/* End My Education */

/* Start Testimonials */

.testimonials {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.testimonials q {
  line-height: 1.7;
  color: #888;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.testimonials h3 {
  color: #666;
  margin-top: 25px;
  margin-bottom: 30px;
}

.testimonials ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.testimonials ul li {
  width: 15px;
  height: 15px;
  border: 1px solid #2dcc70;
  display: inline-block;
  cursor: pointer;
}

.testimonials ul li.active, .testimonials ul li:hover {
  background-color: #2dcc70 ;
}


/* End Testimonials */


/* Start Portfolio */

.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio h2 {
  color: #666
}

.portfolio p {
  line-height: 1.7;
  color: #777;
  margin-bottom: 30px;
}

.portfolio .our-work {
  overflow: hidden;
}

.portfolio .our-work > div  {
  float: left;
  width: 33.333333%;
  margin-bottom: 15px;
}

.portfolio .our-work > div img {
  width: 92%;
  margin: 10px;
  padding: 3px;
  background-color: #FFF;
  border: 1px solid #CCC;
}

/* End Portfolio */

/* Start Contact Me */

.contact {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact .info{
  width: 50%;
  float: left;
  margin-right: 5%;
}

.contact .info h2 {
  color: #FFF;
  margin-left: 40px;
}

.contact .info p {
  color: #6A6E71;
  margin-left: 40px;
  line-height: 1.6;
}

.contact .info p strong {
  color: #D1D6DA;
}

.contact .form {
  width: 45%;
  float: left;
}

.contact .form label {
  display: block;
  color: #D1D6DA;
  margin: 10px 0;
}

.contact .form input[type="text"] {
  background-color: #4B5557;
  color: #FFF;
  width: 80%;
  border: 0px;
  padding: 10px;
  margin-bottom: 20px;
}

.contact .form textarea {
  background-color: #4B5557;
  color: #FFF;
  width: 80%;
  border: 0px;
  padding: 10px;
  margin-bottom: 20px;
  height: 270px;
}

.contact .form button {
  background-color: #191E22;
  color: #D1D6DA;
  padding: 15px 25px;
  border: 0px;
  text-align: center;
}

/* End Contact Me */

/* Start Footer */

.footer {
  background-color: #191E22;
    color: #6A6E71;
    padding: 10px 0;
    text-align: center;
}


/* End Footer */





/* My Framework */

.my-button {
  background: none;
  border: 2px solid #2dcc70;
  padding: 10px 30px;
  color: #2dcc70;
  font-weight: bold;
}

/* My Framework */
