/* Start Main Rules */

body {
  background-color: #888;
}

.container {
  width: 1170px;
  margin: auto;
}
/* End Main Rules */

/* Start Header */

.header .slider {
    background-color: #DDD;
    height: 600px;
    text-transform: uppercase;
}

.header .navbar {
  background-color: #252F31;
  color: white;
  overflow: hidden;
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}
.header .navbar h2 span {
  color: #35CA79;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}
.header .navbar ul li:hover {
  color: #35CA79;
}
/* End Header */
