/* Start Main Rules */

body {
  background-color: white;
  height: 4000px;
}

.container {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* End Main Rules */

/* Start Header */

.header .slider {
    background-image: url('../images/Slider.jpg');
    background-size: cover;   /* CSS 3*/
    height: 750px;
  }

.header .slider .intro {
  padding-top: 250px;
  text-align: center;
  color: #FFF;
}

.header .slider .intro h2 {
  font-size: 50px;
  margin: 0 auto;
  width: 600px;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  padding: 5px 0;
}

.header .slider .intro button {
  background: none;
  margin-top: 30px;
  border: 2px solid #FFF;
  font-size: 22px;
  color: #FFF;
  padding: 10px 20px;
  text-transform: uppercase;
}

.header .navbar {
  background-color: #252F31;
  color: white;
  overflow: hidden;
}

.header .navbar h2 {
  float: left;
}
.header .navbar h2 span {
  color: #35CA79;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}
.header .navbar ul li a {
  color: #FFF;
  text-decoration: none;
}

.header .navbar ul li.active a ,
.header .navbar ul li a:hover {
  color: #30B576;
}
/* End Header */


/* Start feautures */

.features {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 60px;
}

.features .feat {
  float: left;
  width: 33.333333%;
  height: 150px;
}

.features .feat h2 {
  color: #444;
}

.features .feat p {
  line-height: 1.7;
  color: #888;
}

/* End  feautures */

/* Start Hobbies */

.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
}

.about-me .image {
  width: 40%;
  float: left;
}

.about-me .image img {
  width: 100%;
  height: 518px;
}

.about-me .infos {
  width: 60%;
  float: left;
}

.about-me .infos p {
  line-height: 1.6;
  color: #666;
}

.about-me .infos h2 {
  margin: 30px 0 20px 40px;
  color: #444;
}

.about-me .infos > p {
  margin: 0 0 20px 40px;
}

.about-me .infos > p:last-of-type {
  margin-top: 15px;
}

.about-me .infos .hobbies {
  margin: 20px;
  overflow: hidden;
  margin-left: 40px;
}

.about-me .infos .hobbies .content {
  float:left;
  width: 50%;
  min-height: 100px
}

.about-me .infos .hobbies .content h3 {
  color: #444;
}

.about-me .infos .hobbies .content .icon {
  float: left;
  width: 12%;
  margin-top: 10px;
  margin-right: 4%
}

.about-me .infos .hobbies .content .icon img {
  max-width: 100%;
}

.about-me .infos .hobbies .content .text {
  float: left;
  width: 84%;
}

/* End Hobbies */


/* Start My Skills */

.my-skills {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.my-skills .skills, .my-skills .progress {
  width: 50%;
  float: left;
}
/* End My Skills */

/* Start Resume */

.resume {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/* End Resume */

/* Start My Education */

.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.my-education .main, .my-education .experience {
  width: 50%;
  float: left;
}
/* End My Education */

/* Start Testimonials */

.testimonials {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/* End Testimonials */


/* Start Portfolio */

.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio .our-work {
  overflow: hidden;
}

.portfolio .our-work > div  {
  float: left;
  width: 33.333333%;
  margin-bottom: 15px;
}

.portfolio .our-work > div img {
  width: 92%;
  margin: 10px;
}

/* End Portfolio */

/* Start Contact Me */

.contact {
  background-color: #252f31;
  overflow: hidden;
}

.contact h2 {
  color: #FFF;
}

.contact p {
  color: #6A6E71;
}

.contact .info, .contact .form {
  width: 50%;
  float: left;
}
/* End Contact Me */

/* Start Footer */

.footer {
  background-color: #191E22;
    color: #6A6E71;
    padding: 10px 0;
    text-align: center;
}


/* End Footer */
